@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 95%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 95%; 
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 95%; 
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 251 71% 59%;
    --primary-foreground: 210 40% 98%;

    --secondary: 248 70% 69%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 245 70% 79%; 
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 145 59% 61%; 
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;

    --verde5: 145 59% 61%;
  }

  .dark {
    --background: 0 0% 10%;
    --foreground: 210 40% 98%; 

    --card: 0 0% 10%; 
    --card-foreground: 210 40% 98%;

    --popover: 0 0% 10%; 
    --popover-foreground: 210 40% 98%;

    --primary: 251 71% 59%; 
    --primary-foreground: 210 40% 98%;

    --secondary: 248 70% 69%;
    --secondary-foreground: 210 40% 98%;

    --muted: 245 70% 79%; 
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 145 59% 61%; 
    --accent-foreground: 210 40% 98%; 

    --destructive: 0 62.8% 30.6%; 
    --destructive-foreground: 210 40% 98%;

    --border: 0 0% 10%; 
    --input: 0 0% 10%; 
    --ring: 222.2 84% 4.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
